# *.ipynb filter=lfs diff=lfs merge=lfs -text
# data/osm/*.pbf filter=lfs diff=lfs merge=lfs -text
# *.h5 filter=lfs diff=lfs merge=lfs -text
# *.pkl filter=lfs diff=lfs merge=lfs -text
# *.nc filter=lfs diff=lfs merge=lfs -text
# *.npz filter=lfs diff=lfs merge=lfs -text
# *.tif filter=lfs diff=lfs merge=lfs -text
# *.parquet filter=lfs diff=lfs merge=lfs -text
# outputs/20250729_0_0.3_31_1000/failed_buses_records.csv filter=lfs diff=lfs merge=lfs -text
# outputs/20250729_0_0.3_31_1000/failed_lines_records.csv filter=lfs diff=lfs merge=lfs -text
# outputs/20250729_0_0.3_31_1000/load_status_records.csv filter=lfs diff=lfs merge=lfs -text
*.ipynb !text !filter !merge !diff
*.csv !text !filter !merge !diff
*.tif !text !filter !merge !diff
*.pbf !text !filter !merge !diff
*.h5 !text !filter !merge !diff
*.pkl !text !filter !merge !diff
*.nc !text !filter !merge !diff
*.npz !text !filter !merge !diff
*.parquet !text !filter !merge !diff
data/osm/vietnam-latest.osm.pbf filter=lfs diff=lfs merge=lfs -text
notebooks/4_electricity_demand_distribution.ipynb filter=lfs diff=lfs merge=lfs -text
notebooks/5_create_power_flow_model.ipynb filter=lfs diff=lfs merge=lfs -text
